body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    height: 118px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 155px;
    height: auto;
    padding: 10px 0;
}

.menu {
    margin: 0;
    padding: 0 0 13px 0;
}

.menu-option {
    display: inline-block;
}

.menu-blog {
    padding: 0 20px 0 0;
}

.menu-link {
    color: #4a4a4a;
    font-size: 16px;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 75%;
    background-color: #3CDBC0;
    position: relative;
    top: 25%;
}

.main-title {
    color: #FFFFFF;
    font-size: 30px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}